
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 20px;
    padding: 5px;
    background-color: #aedbd2;
}
h1{color:black}


img {
  display:block;
  width:100%;
  padding: 5px;
  margin: 0 auto;
}
#headline{
  text-align: center;
}

#byline {
  margin: 0 auto;
  text-align: center;
}
#subhead {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: block;
  max-width: 800px;
  margin: 0 auto;

}
figure {
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 5px;
margin: 5px;
padding: 5px;

}
.rounded {
  border-top: 5px solid #bbb;
  border-radius: 100px;
  border-color: black;
  margin: 20px;}


/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */

    .lead-photo {
      display: block;
      width: 90%
      padding: 15px;
    }

    .container-photo{
      display: flex;
      justify-content: space-between;
      height: 700px;
      width: 400;
      flex-wrap: nowrap;
      padding: 10px;
      flex-direction: row;



    }
    .container-photo > div{
      width: 550px;
      flex-direction: row;
      margin: auto;
      text-align: left;
      #ffffe6
    }

     p {
      display:block;
      width: 60%;
      margin:auto;
      padding:10px;
    }

        h1 {
      text-align: center;
    }

    figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    text-indent: 5px;
    margin: 5px;
    padding: 5px;

}

.rounded {
  border-top: 5px solid #bbb;
  border-radius: 100px;
  border-color: black;
  margin: 20px;}


/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}

